:root {
  --white: #EEEEEE; /* Texto claro */
  --gray: #393E46; /* Tom intermediário */
  --black: #222831; /* Fundo escuro */
  --primary-color: #00ADB5; /* Cor de destaque */
  --secondary-color: #EEEEEE; /* Texto ou títulos claros */
  --dark-secondary-color: #393E46; /* Fundo secundário */
  --tertiary-color: #00ADB5; /* Cor de contraste */
  --light-tertiary-color: #222831; /* Fundo mais claro que o preto */
  --text-color: #EEEEEE; /* Texto geral claro */

  --font-family: '', sans-serif;
}
